@import '../../styles/functions.scss';

.label {
    --small-font-size: 18px;
    --large-font-size: 21px;

    display: block;
    margin: 0 0 1em 0;
    color: cl(dark);
    font-family: var(--font-cursive);
    text-align: center;
    line-height: 2em;

    &_small {
        font-size: var(--small-font-size);
    }

    &_large {
        font-size: var(--large-font-size);
    }
}
