@import 'styles/functions.scss';

.text-field {
    display: flex;
    border: var(--text-field-border-width) solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    padding: var(--text-field-padding);

    &__content {
        box-sizing: border-box;
        width: 100%;
        background-color: transparent;
        overflow-wrap: break-word;
        border: none;
        margin: 0;
        padding: 0;

        font-family: var(--font-straight);
        font-size: var(--text-field-font-size);
        line-height: var(--text-field-line-height);
    }

    &_editable {
        border-color: cl(light-dark);

        .text-field__content {
            outline: none;
            resize: none;

            // When height of element is smaller than height of content (when we autoresize textarea) scrollbar shouldn't
            // appear for autoresize to work correctly
            overflow: hidden;
        }

        &:focus-within {
            border-color: cl(near-black);
        }
    }

    &_transition {
        transition: border-color var(--transition-duration) var(--transition-function);
    }
}
