@import '../../styles/functions.scss';

.text-field {
    width: 100%;
    box-sizing: border-box;
    padding: 6px;
    margin: 0;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    overflow-wrap: break-word;
    transition: border-color var(--transition-duration) var(--transition-function);

    font-family: var(--font-straight);
    font-size: var(--question-panel-font-size);
    line-height: var(--question-panel-line-height);

    &_editable {
        border-color: cl(light-dark);
        outline: none;
        resize: none;

        // When height of element is smaller than height of content (when we autoresize textarea) scrollbar shouldn't
        // appear for autoresize to work correctly
        overflow: hidden;

        &:focus-visible {
            border-color: cl(near-black);
        }
    }
}
