.app {
    &__full-size-wrapper {
        width: 100%;
        height: 100%;
    }

    &__option-buttons {
        display: flex;
        gap: 27px;
        flex-direction: column;
        width: 100%;
        padding: 0 48px;
        box-sizing: border-box;

        & > *:first-child {
            align-self: flex-start;
        }

        & > *:last-child {
            align-self: flex-end;
        }
    }

    &__questions {
        &-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &-item {
                margin: 0 auto;
            }
        }
    }
}
