@import 'styles/functions.scss';

.loader {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: cl(near-black, 0.9);
    border-radius: var(--cell-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: opacity, visibility;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);

    &_hidden {
        opacity: 0;
        visibility: hidden;
    }

    &:not(&_hidden) {
        opacity: 1;
        visibility: visible;
    }
}
