@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import './functions.scss';

$rgb_colors: (
  'primary': '229, 229, 229',
  'light-dark': '177, 179, 181',
  'dark': '102, 102, 102',
  'near-black': '48, 31, 15',
  'selected': '158, 137, 109',
  'primrose': '237, 229, 155',
  'mandys-pink': '245, 199, 199',
);

:root {
  @each $key, $value in $rgb_colors {
    --color-#{$key}: #{unquote($value)};
  }
  --font-straight: 'Roboto', sans-serif;
  --font-cursive: 'Gloria Hallelujah', cursive;
  --transition-duration: 0.2s;
  --transition-function: ease-in-out;
  --text-field-font-size: 18px;
  --text-field-line-height: 21px;
  --text-field-padding: 6px;
  --text-field-border-width: 1px;
}

body {
  background-color: cl(primary);
  font-family: var(--font-straight);
}
