@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@import './functions.scss';

$rgb_colors: (
  'primary': '229, 229, 229',
  'light-dark': '177, 179, 181',
  'dark': '102, 102, 102',
  'near-black': '48, 31, 15',
  'selected': '158, 137, 109',
);

:root {
  @each $key, $value in $rgb_colors {
    --color-#{$key}: #{unquote($value)};
  }
  --font-straight: 'Roboto', sans-serif;
  --font-cursive: 'Gloria Hallelujah', cursive;
}

body {
  background-color: cl(primary);
  font-family: var(--font-straight);
  margin: 0;
  padding: 0;
}
