@import 'styles/functions.scss';

.layout {
    --layout-mask-shift: 160px;

    position: relative;
    min-height: 100%;
    height: max-content;
    min-width: 560px;
    display: flex;
    justify-content: center;
    background-color: cl(selected);

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 2030px;
        min-height: 100%;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        z-index: 4;
    }

    &__content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 528px;
        min-height: 860px; // the height after which the repeating background starts
        margin-top: 125px;
        padding: 64px 0;
    }

    &__content {
        min-height: 760px;
        z-index: 3;
    }

    &__background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url('../../assets/background.webp');
        background-repeat: no-repeat;
        background-position-x: center;
    }

    &__repeated-background {
        position: relative;
        width: 100%;
        height: 100%;

        &-background,
        &-mask {
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &-background {
            background-image: url('../../assets/repeated-background.webp');
            z-index: 1;
        }

        &-mask {
            top: calc(var(--layout-mask-shift) * -1);
            padding-bottom: var(--layout-mask-shift);
            background-image: url('../../assets/repeated-background-mask.webp');
            z-index: 2;
        }
    }
}
