@import '../../styles/functions.scss';

.icon-left-arrow {
  --icon-size: 16px;
  height: var(--icon-size);
  width: var(--icon-size);

  --icon-colour: #{cl(dark, 0.67)};
  .icon-path {
    fill: var(--icon-colour);
  }
}
