.transition-container {
    display: grid;
    grid-template-areas: 'transitionContainerItem';

    &__item {
        grid-area: transitionContainerItem;
        transition: all var(--transition-duration) var(--transition-function);

        &_hidden {
            opacity: 0;
            visibility: hidden;
        }

        &:not(&_hidden) {
            opacity: 1;
            visibility: visible;
        }

        &_centered {
            place-self: center;
        }
    }
}
