@import 'styles/functions.scss';

.button {
    min-width: 100px;
    padding: 1px;
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: cl(dark);
    color: cl(dark);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    user-select: none;

    &:hover,
    &:focus-visible {
        background-color: cl(light-dark, 0.25);
    }

    &:active {
        background-color: cl(light-dark, 0.5);
    }

    &:focus-visible {
        padding: 0; // to not move the button on focus
        border-width: 2px;
        border-color: cl(selected);
        outline: none;
    }

    &__label {
        padding: 0 24px;
        font-family: var(--font-cursive);
        font-size: 18px;
        line-height: 2em;
    }
}
