@import '../../styles/functions.scss';

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
  height: fit-content;
  gap: 4px;
  box-sizing: border-box;
  padding: 2px 3px;

  background: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;

  * {
    transition: all 0.2s ease-in-out;
  }

  &__icon {
    display: flex;
    align-items: center;
  }

  &__label {
    font-family: var(--font-straight);
    font-size: 16px;
    line-height: 19px;
    color: cl(dark);
    border-bottom: 1px dashed cl(dark);
  }

  &_selected {
    gap: 7px;

    & .tab__label {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: cl(near-black);
      border: 0;
    }

    svg {
      transform: scale(1.125);

      * {
        fill-opacity: 1;
        stroke-opacity: 1;
      }
    }
  }

  &:not(&_selected) {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus-visible {
      & .tab__label {
        color: cl(near-black);
        border-color: cl(near-black);
      }

      * {
        fill-opacity: 1;
        stroke-opacity: 1;
      }
    }

    &:focus-visible {
      border-color: cl(selected);
    }
  }
}
