@import 'styles/functions.scss';

.tab {
  --tab-horizontal-padding: 3px;

  display: flex;
  align-items: center;

  width: fit-content;
  height: fit-content;
  gap: 4px;
  box-sizing: border-box;
  padding: 2px var(--tab-horizontal-padding);
  margin: 0 calc(var(--tab-horizontal-padding) * -1);

  background: none;
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;

  &__icon {
    display: flex;
    align-items: center;

    .icon,
    .icon-path {
      transition-duration: var(--transition-duration);
      transition-timing-function: var(--transition-function);
      transition-property: fill, background-color, border-color;
    }
  }

  &__content {
    display: grid;
    grid-template-areas: 'tab';
  }

  &__label {
    grid-area: tab;
    width: fit-content;
    text-align: left;
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
    transition-property: color, font-size, border-color;
    font-family: var(--font-straight);
    font-size: 16px;
    line-height: 19px;
    color: cl(dark);
    border-bottom: 1px dashed cl(dark);

    &-hidden {
      visibility: hidden;
    }
  }

  &_icon-alignment {
    &-left {
      flex-direction: row;

      .tab__label {
        justify-self: start;
      }
    }

    &-right {
      flex-direction: row-reverse;

      .tab__label {
        justify-self: end;
      }
    }
  }

  &_selected {
    gap: 7px;

    & .tab__label {
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: cl(near-black);
      border: 0;
    }

    .icon {
      transform: scale(1.125);

      --icon-stroke: #{cl(near-black)};
      --icon-fill: #{cl(light-dark)};
    }
  }

  &:not(&_selected) {
    cursor: pointer;

    &:hover,
    &:active,
    &:focus-visible {
      & .tab__label {
        color: cl(near-black);
        border-color: cl(near-black);
      }

      .icon {
        --icon-stroke: #{cl(near-black)};
        --icon-fill: #{cl(light-dark)};
      }
    }

    &:focus-visible {
      border-color: cl(selected);
    }
  }
}
