@import '../../styles/functions.scss';

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;
  height: fit-content;
  gap: 4px;

  background: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;

  &__label {
    font-family: var(--font-straight);
    font-size: 16px;
    line-height: 19px;
    color: cl(dark);
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: cl(dark);
  }

  &_selected {
    gap: 7px;

    & > span {
      font-weight: 600;
      font-size: 18px;
      line-height: 21px;
      color: cl(near-black);
      border: 0;
    }

    svg {
      transform: scale(1.125);

      * {
        fill-opacity: 1;
        stroke-opacity: 1;
      }
    }
  }

  &:not(&_selected) {
    &:hover,
    &:active,
    &:focus-visible {
      & > span {
        color: cl(near-black);
        border-color: cl(near-black);
      }
    }
    &:focus-visible {
      border-color: cl(selected);
    }
  }
}
