@import '../../styles/functions.scss';

.question-panel {
    --item-question-width: 198px;
    box-sizing: border-box;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 12px;
    row-gap: 5px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    &_yellow {
        background-color: cl(primrose);
    }

    &_pink {
        background-color: cl(mandys-pink);
    }

    &__item {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
    }

    &__item-id {
        font-weight: 500;
        font-size: var(--text-field-font-size);
        line-height: var(--text-field-line-height);
        color: cl(near-black);
        text-align: right;
        padding-top: var(--text-field-padding);
        border-top: var(--text-field-border-width) solid transparent;

        &--single-digit {
            margin-right: 7px;
        }
        &--multiple-digit {
            margin-right: 4px;
        }
    }

    &__item-question {
        flex-shrink: 0;
        width: var(--item-question-width);
    }

    &__item-divider {
        border: none;
        margin: 0 calc(100% - (var(--item-question-width) - var(--text-field-padding)));
        border-bottom: 1px dashed cl(dark);
        transition: border-color var(--transition-duration) var(--transition-function);
    }

    &_editable {
        .question-panel__item-divider {
            border-color: transparent;
        }
    }
}
