@import '../../styles/functions.scss';

.question-panel {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 12px;
    row-gap: 10px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    &_yellow {
        background-color: cl(primrose);
    }

    &_pink {
        background-color: cl(mandys-pink);
    }

    &__item {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
        column-gap: 7px;
    }

    &__item-index {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: cl(near-black);
        text-align: right;
        direction: rtl;
        width: 11px;
        flex-basis: auto;
    }

    .text-field {
        flex-basis: 90%;
    }

    &:not(&_editable) {
        .question-panel__item {
            &:not(&:last-child) {
                .text-field {
                    &::after {
                        content: '';
                        position: absolute;
                        width: calc(100% - var(--field-padding) * 2);
                        bottom: -5px;
                        left: var(--field-padding);
                        border-bottom: 1px dashed cl(dark);
                    }
                }
            }
        }
    }
}
