@import '../../styles/functions.scss';

.question-panel {
    --question-panel-font-size: 18px;
    --question-panel-line-height: 21px;

    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 14px 12px;
    row-gap: 10px;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    &_yellow {
        background-color: cl(primrose);
    }

    &_pink {
        background-color: cl(mandys-pink);
    }

    &__item {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
    }

    &__item-id {
        font-weight: 500;
        font-size: var(--question-panel-font-size);
        line-height: var(--question-panel-line-height);
        color: cl(near-black);
        text-align: right;

        &.single-digit {
            margin-right: 7px;
        }
        &.multiple-digit {
            margin-right: 4px;
        }
    }

    .text-field {
        --text-field-font-size: var(--question-panel-font-size);
        --text-field-line-height: (--question-panel-line-height);
        flex-shrink: 0;
        flex-basis: 90%;
    }

    &:not(&_editable) {
        .question-panel__item {
            &:not(&:last-child) {
                .text-field {
                    &::after {
                        content: '';
                        position: absolute;
                        width: calc(100% - var(--field-padding) * 2);
                        bottom: -5px;
                        left: var(--field-padding);
                        border-bottom: 1px dashed cl(dark);
                    }
                }
            }
        }
    }
}
