.dialog {
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__buttons-wrapper {
        display: flex;
        justify-content: center;
    }

    &__buttons {
        display: flex;
        gap: 45px;
    }
}
