.tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 80px;
    margin: 15px 0;

    &__item {
        display: grid;
        width: fit-content;
    }

    &__tab {
        grid-area: tab;

        &_hidden {
            visibility: hidden;
        }
    }
}
