.tabs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 15px 0;

    .tab-container {
        align-items: flex-end;
    }

    & > *:first-child {
        justify-self: left;
    }

    & > *:nth-child(2) {
        justify-self: center;
    }

    & > *:last-child {
        justify-self: end;
    }
}
