@import '../../styles/functions.scss';

.cell {
    $cell-size: 44px;
    $cell-border-radius: 10px;
    $cell-transition: 0.2s ease-in-out;

    width: $cell-size;
    height: $cell-size;
    display: grid;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color $cell-transition, box-shadow $cell-transition;
    user-select: none;

    &__letter {
        font-size: 21px;
        font-family: var(--font-cursive);
        color: cl(dark);
    }

    &__number {
        position: absolute;
        font-size: 14px;
        font-family: var(--font-straight);
        left: 4px;
        top: 0;
    }

    &:hover,
    &:focus-visible {
        background-color: cl(light-dark, 0.5);
        outline: none;
    }

    &--empty {
        background-color: cl(light-dark);
    }

    &--filled {
        background-color: transparent;
        box-shadow: 0px 0px 0px 2px cl(near-black);
    }

    &--top-left {
        border-top-left-radius: $cell-border-radius;
    }

    &--top-right {
        border-top-right-radius: $cell-border-radius;
    }

    &--bottom-left {
        border-bottom-left-radius: $cell-border-radius;
    }

    &--bottom-right {
        border-bottom-right-radius: $cell-border-radius;
    }
}
