@import '../../styles/functions.scss';

.cell {
    width: 44px;
    height: 44px;
    display: grid;
    place-items: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    user-select: none;

    &__letter {
        font-size: 21px;
        font-family: var(--font-cursive);
    }

    &__number {
        position: absolute;
        font-size: 14px;
        left: 4px;
        top: 0;
    }

    &:hover,
    &:focus-visible {
        background-color: cl(light-dark, 0.5);
        outline: none;
    }

    &--empty {
        background-color: cl(light-dark);
    }

    &--filled {
        background-color: transparent;
        border: 2px solid cl(near-black);
    }

    &--top-left {
        border-top-left-radius: 10px;
    }

    &--top-right {
        border-top-right-radius: 10px;
    }

    &--bottom-left {
        border-bottom-left-radius: 10px;
    }

    &--bottom-right {
        border-bottom-right-radius: 10px;
    }
}
