@import 'styles/functions.scss';

.icon-square {
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
  box-sizing: border-box;

  --icon-stroke: #{cl(dark, 0.67)};
  --icon-fill: #{cl(dark, 0.67)};
  border: solid 1px var(--icon-stroke);
  border-radius: 2px;

  color: cl(near-black, 0.67);
  font-family: var(--font-cursive);
  font-size: 12px;
  line-height: 15px;

  &_filled {
    background-color: var(--icon-fill);
    border: none;
  }
}
