@import '../../styles/functions.scss';

.icon-square {
  --icon-size: 16px;
  width: var(--icon-size);
  height: var(--icon-size);
  box-sizing: border-box;

  --icon-color: #{cl(dark, 0.67)};
  border: solid 1px var(--icon-color);
  border-radius: 2px;
}
